{% extends 'base.html.twig' %}

{% block title %}Connexion au site{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3">
                    <h1>Connectez vous !</h1>

                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">Les informations que vous avez saisi sont incorrectes.</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="#inputNomUtilisateur">Nom d'utilisateur</label>
                            <input type="text"
                                   name="_username" id="inputNomUtilisateur" class="form-control"
                                   placeholder="Nom d'utilisateur..." required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="#inputPassword">Mot de passe</label>
                            <input type="password" name="_password" id="inputPassword" class="form-control"
                                   placeholder="Mot de passe..." required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
