{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
            <div class="jumbotron p-4 my-5">
                    {% if not app.user %}
                        {% include 'partials/jumbotron_texts_home.html.twig' with
                            {
                                'titre': "Gestion des livrets d'élèves",
                                'contenu': "Cet outil web a pour but de vous permettre la gestion de vos livrets d'apprentissage.
                        Vous aurez accès à vos propres formulaires en fonction du rôle qui vous a été attribué par
                        l'administrateur."
                            } %}

                    {% elseif is_granted('ROLE_ADMIN') %}

                        {% include 'partials/jumbotron_texts_home.html.twig' with
                            {
                                'titre': "Bienvenue " ~ app.user.username ~ " !",
                                'contenu': "Vous pouvez à partir du menu gérer vos informations de compte, vos livrets, vos entreprises,
                                    les apprentis, consulter modifier ou supprimer les fiches de suivi de formations déjà remplis
                                    par une entreprise ainsi qu’enregistrer des comptes avec leurs rôles."
                            } %}

                    {% elseif is_granted('ROLE_ETUDIANT') %}
                        {% include 'partials/jumbotron_texts_home.html.twig' with
                            {
                                'titre': "Bienvenue " ~ app.user.fullName ~ " !",
                                'contenu': "Vous pouvez à partir du menu gérer vos informations de compte, consulter vos livrets,
                                        compléter vos fiches de suivi de formations."
                            } %}

                    {% elseif is_granted('ROLE_PROFTUTEUR') or is_granted('ROLE_MAITRESTAGE') %}

                        {% include 'partials/jumbotron_texts_home.html.twig' with
                            {
                                'titre': "Bienvenue " ~ app.user.fullName ~ " !",
                                'contenu': "Vous pouvez à partir du menu gérer vos informations de compte, consulter les livrets
                                 les fiches de suivi de formations qui vous sont liés."
                            } %}
                    {% endif %}

                    <hr class="my-4">
                    <p class="lead">
                        {% if not app.user %}
                            <a class="btn btn-primary btn-lg" href="{{ path('login') }}" role="button">Se connecter</a>
                        {% else %}
                            <a class="btn btn-primary btn-lg" href="{{ path('logout') }}" role="button">Se
                                déconnecter</a>
                        {% endif %}
                    </p>

                </div>
            </div>
{% endblock %}
