{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron p-4 mt-5">
            <h1 class="display-4">Gestion des livrets d'élèves</h1>
            <p class="lead">
                Cet outil web a pour but de vous permettre la gestion de vos livrets d'apprentissage. Vous aurez
                accès
                à vos propres formulaires en fonction du rôle qui vous a été attribué par l'administrateur.
            </p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Se connecter</a>
            </p>
        </div>
    </div>
{% endblock %}
