.bg-image-1 {
    /* Image de fond */
    background-image: url("../images/bg_1.jpg");

    /* taille full */
    height: 100%;

    /* centrer et redimensionner */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.bg-image-2 {
    /* Image de fond */
    background-image: url("../images/bg_2.jpg");

    /* taille full */
      height: 1000px;

    /* centrer et redimensionner */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}