<!DOCTYPE html>
<html lang="fr">
    {% include 'partials/head.html.twig' %}
    {% include 'partials/navbar.html.twig' %}
    <body class="bg-image-1">
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% include 'partials/footer_js.html.twig' %}
        {% endblock %}
    </body>
</html>
