<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>

    {% include 'partials/navbar.html.twig' %}
    <body class="bg-image-1">
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% include 'partials/footer_js.html.twig' %}
        {% endblock %}
    </body>
</html>
