<div class="row">
    <div class="col-12">
        <div class="alert alert-light">
            <h2>{{ formTitle }}</h2>
            <hr>
            <div id="formSelect">
                {{ form_row(champSelect) }}
            </div>
            <h4><b>OU</b></h4>
            <div id="formAjout">
                {{ form_row(champNew) }}
            </div>

            {% if button is defined and button == true %}
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
