<div class="row">
    <div class="col-12">
        <div class="alert alert-light">
            <h2>{{ formTitle }}</h2>
            <hr>
            {{ form_row(champSelect) }}
            <h4><b>OU</b></h4>
            {{ form_row(champNew) }}
        </div>
    </div>
</div>
